name: commitlint

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
  push:
    branches: [main]

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: commitlint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Lint commits
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: commitlint.config.js
